:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-natural-gray01: #f7f5f5;
  --color-natural-gray02: #d4d4d4;
  --color-natural-gray03: #a0a0a0;
  --color-natural-gray04: #565656;

  --color-border-input: var(--color-natural-gray02);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
